{% extends 'farkle/base.html' %}
{% block main_content %}
<div class="row">
	<div class="col col-5">
		<h3>Game setup</h3>
		<div>(up to 6 players)</div>
		<form class="form" method="{% if method %}{{method}}{% else %}POST{% endif %}" action="{{action}}">
			{% if method != 'GET' %}
				{% csrf_token %}
			{% endif %}
			<table class="table">
				{{form.as_table}}
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-primary" value="{% if submit_text %}{{submit_text}}{%else%}submit{%endif%}" /></td>
			</table>
		</form>
	</div>
</div>
{% endblock %}